<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner" >
    <div class="container">
      <%= link_to "What to Eat", root_path, { id: "logo", "data-toggle" => "tooltip", "data-placement" => "bottom", title: "Return to Home Page" } %>
      <nav>
	<ul class="nav navbar-nav pull-right">
	  
	  <div class="dropdown" id="drop_men">
	    <a class="label" id="nav-label" data-toggle="dropdown" href="#">Browse Recipes</a>
	    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	      <li ><%= render(:partial => 'layouts/navigation', :locals => {:subjects => @subjects}) %></li>
	    </ul>
	  </div>

	  <!-- 
	  <li><%= link_to "Home", root_path %></li>
	  <li><%= link_to "Recipes", '#' %></li>
	  <li><%= link_to "Meals", '#' %></li>
	  -->
	</ul>
      </nav>
    </div>
  </div>
</header>



